{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Coisa Ruim</title>
</head>
<body>
    <nav>
        <a href="#">Manas</a>
        <a href="#">Manos</a>
        <a href="#">Monstros</a>
    </nav>
    <section>
    {% for vilao in viloes %}
        <div class="card">
            <div>
                <img src="{{vilao.foto.url}}" alt="">
            </div>
            <h2>{{vilao.nome}}</h2>
            <p>Habilidades: {{vilao.habilidades}}</p>
            <p>Número de mortes: {{vilao.mortes}}</p>
            <p>Arma: {{vilao.armas}}</p>
        </div>
    {% endfor %}
    </section>
</body>
</html>