{% extends 'layout.html'%}
{% load staticfiles %}
{% block content %}
   <h2>Manas vilas </h2>
   <section>
    {% for vila in vilas %}
        <div class="card">
            <div>
                <img src="{{vilao.foto.url}}" alt="">
            </div>
            <h2>{{vilao.nome}}</h2>
            <p>Habilidades: {{vilao.habilidades}}</p>
            <p>Número de mortes: {{vilao.mortes}}</p>
            <p>Arma: {{vilao.armas}}</p>
        </div>
    {% endfor %}
    </section>  
{% endblock %}